.aboutme {
  width: 50vw;
  box-sizing: content-box;
  float: left;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
  overflow-y: scroll;
  padding-right: 20px;
}

.aboutme-inner {
  padding: 0 100px;
}

.aboutme-photo {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  margin-right: 40px;
  margin-bottom: 40px;
}

.aboutme-text {
  max-width: 500px;
}
