.frontslide {
  background-color: $blue;
  box-shadow: 0 0 30px black;
  position: relative;
  z-index: 1;
}

.frontslide-content {
  max-width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frontslide-photo {
  width: 160px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 70px;
}

.frontslide-text {
  display: inline-block;
  vertical-align: middle;
}

.frontslide-title {
  font-size: 70px;
  line-height: 70px;
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
}

.frontslide-subtitle {
  margin: 0;
  font-size: 30px;
  color: white;
  font-weight: normal;
}
