.mainmenu {
  float: left;
  margin-left: 50%;
  height: 100%;
  width: 50%;
  background: #eee;
}

.mainmenu-link {
  display: block;
  width: 100%;
}

@for $i from 1 to 5 {
  .mainmenu.mainmenu--linkcount-#{$i} .mainmenu-link {
    height: 100% / $i;
  }
}
