.mainmenu {
  width: 100%;
  float: left;
  height: 100%;
  transform: translateX(50%);
}

.mainmenu-link {
  background: #eee;
  float: left;
  display: block;
  width: 100%;
  transition: height $speed $easing;
}

@for $i from 1 to 5 {
  .mainmenu.mainmenu--linkcount-#{$i} .mainmenu-link {
    height: 100% / $i;
  }
}

.mainmenu-link--development {
  background: purple;
  color: white;
}
