.mainmenu {
  width: 50vw;
  float: left;
  height: 100%;
  transition: width $speed $easing;
}

.mainmenu-link {
  background: #eee;
  float: left;
  display: block;
  width: 100%;
  transition: height $speed $easing;
  position: relative;
  overflow: hidden;

  &:nth-child(1) {
    background: $purple;
  }

  &:nth-child(2) {
    background: $green;
  }

  &:nth-child(3) {
    background: $blue;
  }
}

.mainmenu-link-text {
  font-size: 70px;
  font-weight: 900;
  color: white;
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin: 0;
  margin-left: 40px;
  transform: translateY(-50%);
  transition: opacity $speed $easing;
  opacity: 1;
}

.mainmenu-link-next {
  &:after, &:before {
    background: white;
  }
}

@for $i from 1 to 5 {
  .mainmenu.mainmenu--linkcount-#{$i} .mainmenu-link {
    height: 100% / $i;
  }
}

.has--active-mainmenu-link {
  .mainmenu {
    width: 100vw;
  }

  .mainmenu-link {
    &:not(.mainmenu-link--is-active) {
      height: 0;
    }

    &.mainmenu-link--is-active {
      height: 100%;
    }
  }
}

.has--active-mainmenu-link,
.is--dragging {
  .mainmenu-link:not(.mainmenu-link--is-dragged) {
    .mainmenu-link-text, .mainmenu-link-next {
      opacity: 0;
    }
  }
}
