.section-content {
  opacity: 0;
  transition: all $speed $easing;
  max-width: 960px;
  margin: 0 auto;
  transform: translate(50px, 0);
}

.has-shown-overview {
  .mainmenu-link--is-dragged .section-content {
    opacity: 1;
    transform: translate(0, 0);
  }
}
