.section-content {
  opacity: 0;
  transition: all $speed $easing;
  width: 50vw;
  box-sizing: content-box;
  padding-right: 20px;
  height: 100vh;
  position: absolute;
  left: 50vw;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0);
}

.has-increased-main-menu {
  .mainmenu-link--is-dragged .section-content {
    opacity: 1;
  }
}

.is--transitioning-in {
  .section-content {
    transform: translateX(50px);
  }
}
