.section-content {
  opacity: 0;
  transition: opacity $speed $easing;
}

.has-increased-main-menu {
  .mainmenu-link--is-dragged .section-content {
    opacity: 1;
  }
}

.has--dragged-mainmenu-link {
  .section-content {
    opacity: 0 !important;
  }
}
