.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  cursor: all-scroll;
}

.slides-handle {
  width: 250vw;
  height: 100%;
}

.slides-slide {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100vw;
  float: left;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.aboutslide {
  box-shadow: 0 0 30px black;
}

.has--active-mainmenu-link {
  .slides-handle {
    transform: translate3d(-150vw, 0px, 0px) !important;
  }

  .aboutslide {
    width: 150vw;
  }
}
